/* Just some quick CSS to demo the star background--it's fine that we change this later */

body {
  background-image: url(../img/starbackground.svg);
  /* setting the width controls the star size */
  background-size: 400px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  margin: 10px;
}

h1 {
  font-family: 'Ranchers', cursive;
  font-size: 4em;
  color: rgb(255, 204, 0);
  letter-spacing: 2px;
  margin-top: 30px;
}

#div-showdown {
  text-align: center;
}



#div-weapons {
  margin-top: 100px;
  text-align: center;
}

#ul-weapons {
  list-style-type: none;
}

li {
  display: inline;
}

.choice {
  height: 100px;
  cursor: pointer;
}

p {
  color: white;
  line-height: 1.2em;
  margin-bottom: 10px;
}

#imgtrevor, #imgmark, #imgholly {
  margin-top: 30px;
  border-radius: 10px;
  border: 7px solid rgb(255, 204, 0);
}

.showdown {
  width: 200px;
}

#ul-nav {
  margin-top: 20px;
}

#ul-nav li {
  color: white;
  padding: 15px;
  font-weight: 600;
}

footer {
  margin: 50px;
}

footer p:last-child {
  font-size: .7em;
}

a {
  text-decoration: none;
  color: white;
}



