/* Global Selectors */
li {
  display: inline;
}

p {
  font-size: 1.2em;
  line-height: 1.2em;
  margin-bottom: 10px;
}

ul img {
  padding: 10px;
}

/* Class Selectors */
.career {
  margin: 0px auto;
  width: 80%
}

.hobbies {
  margin-top: 20px;
}

/* ID Selectors */
#imgtrevor, #imgmark, #imgholly {
  margin-top: 30px;
  border-radius: 10px;
  border: 7px solid rgb(255, 204, 0);
}
