body {
  background-image: url(../img/starbackground.svg);
  /* setting the following controls the star size */
  background-size: 400px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  margin: 10px;
  color: #00AAFF;
}

#player-name {
  font-family: 'Ranchers', cursive;
  font-size: 1.5em;
  text-align: center;
}

h1 {
  font-family: 'Ranchers', cursive;
  font-size: 4em;
  color: #FFCC00;
  letter-spacing: 2px;
  margin-top: 2%;
}

#h1-logo a {
  text-decoration: none;
  color: rgb(255, 204, 0);
}

h2 {
  font-family: 'Ranchers', cursive;
  font-size: 2em;
  color: #FFCC00;
  letter-spacing: 2px;
  margin: 2% 0px;
}

ol { 
  list-style-type: decimal; 
  list-style-position: inside; 
}

.high-scores {
  padding: 5px;
  font-size: 1.7em;
}

#ul-nav {
  margin-top: 2%;
  color: #00AAFF;
}

#ul-nav li {
  padding: 1%;
  font-weight: 600;
  display: inline;
  /* Puts space between two lines of navigation when window is small */
  line-height: 30px;
}

#ul-nav li>a {
  text-decoration: none;
  color: #00AAFF;
}

#playerName-container {
  float: left;
  margin: 40px 0px 0px 30px;
  font-family: 'Ranchers', cursive;
  font-size: 1.5em;
  color: #FFCC00;
  letter-spacing: 2px;
  text-align: right;
}

#compName-container {
  float: right;
  margin: 40px 5px 0px 0px;
  font-family: 'Ranchers', cursive;
  font-size: 1.5em;
  color: #FFCC00;
  letter-spacing: 2px;
}

#scoreboard {
  margin: 20px auto;
  width: 35%;
  position: relative;
  background: black;
  border-radius: 10px;
  color: rgb(255, 204, 0);
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-align: center;
}

/* Gradient Border Sourced by: https://codepen.io/Antonio-R-A-M/pen/GPdNVN */
#scoreboard::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  z-index: -1;
  animation: anim 8s linear infinite;
  border-radius: 5px;
}

#scoreboard::after {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  z-index: -2;
  animation: anim 8s linear infinite;
  border-radius: 5px;
  filter: blur(1rem);
}

@keyframes anim {
  from {background-position: 0}
  to {background-position: 400%}
}

#overlay {
  display: flex; /* Hidden by default */
  flex-direction: column;
  position: fixed; /* Sit on top of the page content */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../img/overlay.png);
  background-position: center;
  z-index: 5; /* Specify a stack order in case you're using a different order for other elements */
}

#input-container {
  display: block;
  margin-top: 150px;
  text-align: center;
}

#input-container label {
  display: block;
  font-size: 1.3em;
  color: rgb(255, 204, 0);
  font-family: 'Ranchers', cursive;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#input-container input {
  display: block;
  padding: 10px;
  margin: 30px auto;
  border-radius: 10px;
  outline: none;
  width: 50%;
}

/* Button Source: https://codepen.io/AlainBarrios/pen/eKYgog */

#enter-button{
  text-transform: uppercase;
  align-items: center;
  margin: 0 auto;
  color: #fff;
  font-size: 1.5rem;
  font-family: 'Ranchers', cursive;
  padding: 10px;
  letter-spacing: 1px;
  background-image: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 30px;
  position: relative;
  border: none;
}

#enter-button:before{
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background-image: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 30px;
  opacity: 1;
  transition: filter .5s, opacity .5s;
}

#enter-button, #enter-button::before{
  animation: animate 8s linear reverse forwards;
}

#enter-button:hover,
#enter-button:hover:before{
  animation: animate 8s linear infinite;
  cursor: pointer;
}

#enter-button:hover:before{
  filter: blur(20px);
  opacity: 1;
}

@keyframes animate{
  0%{
    background-position: 0%;
  }
  100%{
    background-position: 400%;
  }
}

@keyframes animate2{
  0%{
    background-position: 400%;
  }
  100%{
    background-position: 0%;
  }
}

.choice,
#h1-logo {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.choice:hover {
  cursor: pointer;
}


/* Gradient Button Sourced: https://codepen.io/Antonio-R-A-M/pen/GPdNVN */
.scores {
  font-size: 5em;
  color:  #ffffff;
  font-family: 'VT323', monospace;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: anim 8s linear infinite;
}

/* Play Again Modal Styles */
#play-again-modal {
  display: none;
  position: relative;
  margin: 2% auto;
  margin-top: 4%;
  width: 45%;
  padding: 2%;
  background: black;
  border-radius: 10px;
  letter-spacing: 2px;  
  text-align: center;
}

#play-again-modal::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  z-index: -1;
  animation: anim 8s linear infinite;
  border-radius: 5px;
}

#play-again-modal::after {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  z-index: -2;
  animation: anim 8s linear infinite;
  border-radius: 5px;
  filter: blur(1rem);
}

@keyframes anim {
  from {background-position: 0}
  to {background-position: 400%}
}

/* Play Again Button Styles */
#play-again-button {
  text-transform: uppercase;
  align-items: center;
  margin: 0 auto;
  color: #fff;
  font-size: 1.2rem;
  font-family: 'Ranchers', cursive;
  padding: 10px;
  margin-top: 15px;
  letter-spacing: 1px;
  background-image: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 30px;
  position: relative;
  border: none;
}

#play-again-button:before{
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background-image: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 30px;
  opacity: 1;
  transition: filter .5s, opacity .5s;
}

#play-again-button, #play-again-button::before{
  animation: animate 8s linear reverse forwards;
}

#play-again-button:hover,
#play-again-button:hover:before{
  animation: animate 8s linear infinite;
  cursor: pointer;
}

#play-again-button:hover:before{
  filter: blur(20px);
  opacity: 1;
}

@keyframes animate{
  0%{
    background-position: 0%;
  }
  100%{
    background-position: 400%;
  }
}

@keyframes animate2{
  0%{
    background-position: 400%;
  }
  100%{
    background-position: 0%;
  }
}

#ul-choices li,
#ul-weapons li {
  display: inline;
}

.img-showdown {
  width: 35%;
}

#divider {
  margin: 0px 20px;
  height: 120px;
}

#div-weapons {
  margin-top: 1%;
  text-align: center;
}

.choice {
  height: 100px;
  cursor: pointer;
}

#smackTalk {
  margin-top: 3%;
}

#bottomChatHeader {
  margin-bottom: 1%;
  font-size: 2em;
}

#bottomChatText{
  font-size: 1.5em;
}

footer {
  margin: 30px 0px;
  color: #3150BC;
  font-size: .8em;
  margin-top: 1.5em;

}

footer a {
  color: #3150BC;
  text-decoration: none;
}

p {
  font-size: 1.2em;
  line-height: 1.2em;
  margin-bottom: 10px;
}

hr {
  border: .5px solid #CD00FF;
  width: 90%
}

/* INSTRUCTIONS PAGE STYLING   */
#instructions {
  margin: 0 auto; 
  width:  75%;
}

#ol-instructions li {
  list-style-type: decimal;
  text-align: left;
  padding: 5px;
  font-size: 1.2em;
}

#howtopic {
  margin-top: 20px;
  border-radius: 10px;
  border: 7px solid #FFCC00;
}

#whatwins {
  margin-bottom: 20px;
}

#whatwins li {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5em;
  padding: 5px;
  color: #00AAFF;
}

#send {
  font-size: 1.5em;
  color: #00AAFF;
  line-height: 50px;
}


/* Media Queries */
@media (min-width: 768px) {
  #playerName-container {
    margin: 40px 0px 0px 70px;
  }
  
  #compName-container {
    margin: 40px 70px 0px 0px;
  }

  #play-again-modal {
    width: 75%;
  }

  .img-showdown {
    width: 25%;
  }
}

#divider {
  height: 140px;
}

@media (min-width: 1024px) {
  #playerName-container {
    margin: 40px 0px 0px 200px;
  }
  
  #compName-container {
    margin: 40px 200px 0px 0px;
  }

  #play-again-modal {
    width: 75%;
  }

  .img-showdown {
    width: 22%;
  }

  #divider {
    height: 300px;
  }

  #input-container {
    margin-top: 300px;
  }
}